.row
  .login-panel.panel.panel-default{ style: "color:#000"}
    .panel-heading
      %h3.panel-title Sign up
    .panel-body
      %a.btn.btn-block.btn-social.btn-facebook{href: user_omniauth_authorize_path(:facebook)}
        %i.fa.fa-facebook
        Sign in with Facebook
      = form_for(resource, :as => resource_name, :url => user_registration_path) do |f|
        %h4{ style: "color:#000; font-size: 12px;"}
          = devise_error_messages!
        %fieldset
          .form-group
            = f.label :email, style: "color:#000"
            = f.email_field :email, :autofocus => true, class:"form-control"
          .form-group
            = f.label :password, style: "color:#000"
            = f.password_field :password, class: "form-control"
          .form-group
            = f.label :password_confirmation, style: "color:#000"
            = f.password_field :password_confirmation, class: "form-control"

          %div= f.submit "Sign up", class:"btn btn-lg btn-success btn-block"
