.row
  .col-lg-12
    %h1.page-header
      = @user.name
      .btn-group
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          %i.fa.fa-gear.fa-fw
          %span.caret
        %ul.dropdown-menu.pull-right{role: "menu"}
          %li
            %a{href: edit_user_path(@user)}
              Edit
              = @user.name
          %li
            %a{href: "#"} Another action
          %li
            %a{href: "#"} Something else here
          %li.divider
          %li
            %a{href: "#"} Separated link

.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        Information
      .panel-body
        - if can? :read_full_profile, @user
          = @user.name
          goes to
          - if current_user.common_conferences(@user).any?
            - current_user.common_conferences(@user).each do |conference|
              = link_to conference_path(conference) do
                = "#{conference.name}"
              = ","
            too.
            %br
            %br

          Email:
          = @user.email
          %br
          Joined
          = time_ago_in_words(@user.created_at)
          ago
