= simple_form_for @conference do |f|
  = f.input :name
  = f.input :acronym
  = f.input :topic
  = f.input :organizer

  = f.input :website_url
  = f.input :public, as: :boolean
  = f.button :submit

= button_to "Delete #{@conference.name}", conference_path(@conference), method: :delete, class: "btn btn-danger"

