
#map{ style:'height: 400px; margin-left:-30px; margin-right: -30px; '}

.row

  - if !params[:search].nil? && params[:search] != ""
    #filter{style: "margin-top:-380px;"}
      = form_tag conferences_path, :method => :get, class:"form-search", id:"search" do
        .col-md-6.col-md-offset-3.input-group.input-group-lg.margin-top-20
          = text_field_tag :search, params[:search], :placeholder => "Conference, Location", :class => "form-control"
          .input-group-btn
            = submit_tag "Search", class: "btn btn-success btn-lg", type:"submit", style:"z-index:10;"
  - else
    #filter{style: "margin-top:-225px;"}
      = form_tag conferences_path, :method => :get, class:"form-search", id:"search" do
        .col-md-6.col-md-offset-3.input-group.input-group-lg.margin-top-20
          = text_field_tag :search, params[:search], :placeholder => "Conference, Location", :class => "form-control"
          .input-group-btn
            = submit_tag "Search", class: "btn btn-success btn-lg", type:"submit", style:"z-index:10;"
  #advanced_filter.col-md-6.col-md-offset-3{style:"margin-top:-30px;display:none;"}
    .panel.panel-default
      .panel-body
        %br
        %h4
          Size
          %small
            How many delegates should be there?

        .col-md-12{style:"margin-bottom: 10px;"}
          #size_range_lower_limit_field.col-md-6
            0
          #size_range_upper_limit_field.col-md-6.pull-right.pull-right
            10000

        .col-md-12{style:"margin-bottom: 20px;"}
          #size_range
        .row
        %h4
          Category
          %small
            What environment do you want?
        = collection_select(:conference, :category_id, ConferenceCategory.all, :id, :name)
        %h4
          Date
          %small
            When should it take place?
        = datetime_field_tag :starts_at, params[:starts_at]

%h1.page-header
  Conferences
.row
  - @conferences.each do |conference|
    .col-lg-4
      .panel.panel-default
        .panel-heading
          = link_to "#{conference.name}", conference_path(conference)
        .panel-body
          - if !conference.logo_file_name.nil?
            .pull-left

              = image_tag conference.logo(:circle), class:"img-circle", style: "margin-right:10px;"
          - if !conference.description.nil?
            = conference.description
            %br
            %br
          - if !conference.starts_at.nil?
            %small
              %strong
                From
                = conference.starts_at.to_formatted_s :long_ordinal
              %br
              %strong
                To
                = conference.ends_at.to_formatted_s :long_ordinal
              %br
          - if !conference.size.nil?
            %small
              About
              = conference.size
              delegates
              %br


        .panel-footer
          = link_to "Register", new_group_registration_path(conference_id: conference.id)
:javascript

  $( "#search" ).focusin(function() {
    $( "#filter" ).animate({
        marginTop: '-380px',
      }, {duration: 500, queue: false}, function() {

      });
    $("#advanced_filter").fadeIn(500);
  });
  $( "#search").focusout(function() {
    /*if($("#search").val() == null) {
      $( "#filter").animate({
              marginTop: '-225px',
            },{duration: 500, queue: false}, function() {

            });
      }*/
      if (!$('#advanced_filter').is(':hover')) {
      $("#advanced_filter").fadeOut( 500 );}
  });

  $( "#size_range" ).slider({
          range: true,
          min: 0,
          max: 1000,
          values: [ 0, 1000 ],
          slide: function( event, ui ) {
              //$( "#size_range_lower_limit_field" ).html( ui.values[ 0 ] );
              //$( "#size_range_upper_limit_field" ).html( ui.values[ 1 ] );

              //$( "#size_range_lower_limit" ).val( ui.values[ 0 ] );
              //$( "#size_range_upper_limit" ).val( ui.values[ 1 ] );
          }
  });


      /*if(!(typeof $("#size_range_upper_limit").val() === "undefined") && ($("#size_range_upper_limit").val() != ""))
      {
          $( "#size_range" ).slider( "values", 1 , $("#size_range_upper_limit").val());
          $( "#size_range_upper_limit_field" ).html( $("#size_range_upper_limit").val());
      }
      else
      {
          $( "#pricerange_upper_limit_field" ).html( '1000 ' );
      }

      if(!(typeof $("#size_range_lower_limit").val() === "undefined") && ($("#size_range_lower_limit").val() != ""))
      {
          $( "#size_range" ).slider( "values", 0 , $("#size_range_lower_limit").val());
          $( "#size_range_lower_limit_field" ).html( $("#size_range_lower_limit").val());

      }
      else
      {
          $( "#size_range_lower_limit_field" ).html( '0 ' );
      } */
  /*markers = handler.addMarkers(#{raw @hash.to_json });
  handler = Gmaps.build('Google');
  handler.buildMap({
      provider: {
        disableDefaultUI: true
        // pass in other Google Maps API options here
      },
      internal: {
        id: 'map'
      }
    },
    function(){
      markers = handler.addMarkers([
        {
          "lat": 0,
          "lng": 0,
          "picture": {
            "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
            "width":  36,
            "height": 36
          },
          "infowindow": "hello!"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    }
  );    */
  //Google Map Skin - Get more at http://snazzymaps.com/
  var myOptions = {
      zoom: 15,
      center: new google.maps.LatLng(53.385873, -1.471471),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      disableDefaultUI: true,
      styles: [{"featureType":"water","stylers":[{"visibility":"on"},{"color":"#acbcc9"}]},{"featureType":"landscape","stylers":[{"color":"#f2e5d4"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#c5c6c6"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#e4d7c6"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#fbfaf7"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#c5dac6"}]},{"featureType":"administrative","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"road"},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{},{"featureType":"road","stylers":[{"lightness":20}]}]
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  //map.addMarkers(#{raw @hash.to_json });

  /*$(function() {
    $("#search").tokenInput(".json", {
      crossDomain: false,
      prePopulate: $("#search").data("pre"),
      theme: "mac"
    });
  });*/