.row
  .col-lg-12
    = render partial: "layouts/page_header", locals:{resource: @conference, title: @conference.name, button_group: "button_group_title"}

%h2.page-header
  Tasks
.row
  Assign delegates etc.



%h2.page-header
  Registrations
.row

  .col-lg-6
    = render partial: "registrations/registrations", locals: {conference: @conference}

  .col-lg-6
    = render partial: "group_registrations/group_registrations", locals: {conference: @conference}

%h2.page-header
  Discussions
.row
  .col-lg-6
    .panel.panel-default
      .panel-heading
        = "Delegations"
        .pull-right
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              Actions
              %span.caret
            %ul.dropdown-menu.pull-right{role: "menu"}
              %li
                %a{href: new_delegation_path(conference_id: @conference.id)} Add delegation
              %li
                %a{href: "#"} Another action
              %li
                %a{href: "#"} Something else here
              %li.divider
              %li
                %a{href: "#"} Separated link
      .panel-body
        - @conference.delegations.each do |delegation|
          = link_to delegation.name, delegation_path(delegation)
          %br
        = link_to "+ Add delegation", new_delegation_path(conference_id: @conference.id)


      .panel-footer
        = "#{pluralize(@conference.delegations.count, "delegation")}"
  .col-lg-6
    .panel.panel-default
      .panel-heading
        = "Comittees"
        .pull-right
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              Actions
              %span.caret
            %ul.dropdown-menu.pull-right{role: "menu"}
              %li
                %a{href: new_comittee_path(conference_id: @conference.id)} Add comittee
              %li
                %a{href: "#"} Another action
              %li
                %a{href: "#"} Something else here
              %li.divider
              %li
                %a{href: "#"} Separated link
      .panel-body
        - @conference.comittees.each do |comittee|
          = link_to comittee.name, comittee_path(comittee)
          %br
        = link_to "+ Add comittee", new_comittee_path(conference_id: @conference.id)
      .panel-footer
        = "#{pluralize(@conference.comittees.count, "comittees")}"

%h2.page-header
  Participants
.row
  .col-lg-6
    .panel.panel-default
      .panel-heading
        = "Participant groups"
        .pull-right
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              Actions
              %span.caret
            %ul.dropdown-menu.pull-right{role: "menu"}
              %li
                %a{href: new_comittee_path(conference_id: @conference.id)} Add comittee
              %li
                %a{href: "#"} Another action
              %li
                %a{href: "#"} Something else here
              %li.divider
              %li
                %a{href: "#"} Separated link
      .panel-body
        - @conference.participant_groups.each do |participant_group|
          = link_to participant_group.name, participant_group_path(participant_group)
          %br
        = link_to "+ Add participant group", new_comittee_path(conference_id: @conference.id)

      .panel-footer
        = "#{pluralize(@conference.participant_groups.count, "groups")}"

  .col-lg-6
    .panel.panel-default
      .panel-heading
        = "Participants"
        .pull-right
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              Actions
              %span.caret
            %ul.dropdown-menu.pull-right{role: "menu"}
              %li
                %a{href: participants_path(conference_id: @conference.id)} Show all participants
              %li
                %a{href: "#"} Another action
              %li
                %a{href: "#"} Something else here
              %li.divider
              %li
                %a{href: "#"} Separated link
      .panel-body
        - @conference.participants.each do |participant|
          = link_to participant.name, participant_path(participant)
          %br
        = link_to "See all", participants_path(conference_id: @conference.id)
      .panel-footer
        = "#{pluralize(@conference.participants.count, "participant")}"
  .col-lg-8
.row

  .col-md-12
    %h2.page-header
      Timetable
    = render partial: "timetables/timetable", locals: {timetable: @conference.timetable}


  .col-lg-12
    = render partial: "layouts/notifications"