.row
  .col-lg-12
    = render partial: "layouts/page_header", locals:{resource: @conference, title: @conference.name, button_group: "button_group_title"}

%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", href: "#tasks"} Tasks
  %li
    %a{"data-toggle" => "tab", href: "#registrations"} Registrations
  %li
    %a{"data-toggle" => "tab", href: "#discussions"} Discussions
  %li
    %a{"data-toggle" => "tab", href: "#participants"} Participants
  %li
    %a{"data-toggle" => "tab", href: "#settings"} Settings
/ Tab panes
.tab-content
  #tasks.tab-pane.fade.in.active
    /%h4 Tasks
    %p Assign delegates etc.
    .col-md-12
    %h2.page-header
      Timetable

    = render partial: "timetables/timetable", locals: {timetable: @conference.timetable}
    = render partial: "layouts/notifications"
  #registrations.tab-pane.fade
    %br
    /%h4 Registrations

    = render partial: "registrations/registrations", locals: {conference: @conference}


    = render partial: "group_registrations/group_registrations", locals: {conference: @conference}
  #discussions.tab-pane.fade
    %br
    /%h4 Discussions
    .panel.panel-default
      .panel-heading
        = "Delegations"
        .pull-right
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              Actions
              %span.caret
            %ul.dropdown-menu.pull-right{role: "menu"}
              %li
                %a{href: new_delegation_path(conference_id: @conference.id)} Add delegation
              %li
                %a{href: "#"} Another action
              %li
                %a{href: "#"} Something else here
              %li.divider
              %li
                %a{href: "#"} Separated link
      .panel-body
        - @conference.delegations.each do |delegation|
          = link_to delegation.name, delegation_path(delegation)
          %br
        = link_to "+ Add delegation", new_delegation_path(conference_id: @conference.id)


      .panel-footer
        = "#{pluralize(@conference.delegations.count, "delegation")}"

    .panel.panel-default
      .panel-heading
        = "Committees"
        .pull-right
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              Actions
              %span.caret
            %ul.dropdown-menu.pull-right{role: "menu"}
              %li
                %a{href: new_committee_path(conference_id: @conference.id)} Add committee
              %li
                %a{href: "#"} Another action
              %li
                %a{href: "#"} Something else here
              %li.divider
              %li
                %a{href: "#"} Separated link
      .panel-body
        - @conference.committees.each do |committee|
          = link_to committee.name, committee_path(committee)
          %br
        = link_to "+ Add committee", new_committee_path(conference_id: @conference.id)
      .panel-footer
        = "#{pluralize(@conference.committees.count, "committees")}"
  #participants.tab-pane.fade
    /%h4 Participants
    %br
    .panel.panel-default
      .panel-heading
        = "Participant groups"
        .pull-right
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              Actions
              %span.caret
            %ul.dropdown-menu.pull-right{role: "menu"}
              %li
                %a{href: new_committee_path(conference_id: @conference.id)} Add committee
              %li
                %a{href: "#"} Another action
              %li
                %a{href: "#"} Something else here
              %li.divider
              %li
                %a{href: "#"} Separated link
      .panel-body
        - @conference.participant_groups.each do |participant_group|
          = link_to participant_group.name, participant_group_path(participant_group)
          %br
        = link_to "+ Add participant group", new_committee_path(conference_id: @conference.id)

      .panel-footer
        = "#{pluralize(@conference.participant_groups.count, "groups")}"


    .panel.panel-default
      .panel-heading
        = "Participants"
        .pull-right
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              Actions
              %span.caret
            %ul.dropdown-menu.pull-right{role: "menu"}
              %li
                %a{href: participants_path(conference_id: @conference.id)} Show all participants
              %li
                %a{href: "#"} Another action
              %li
                %a{href: "#"} Something else here
              %li.divider
              %li
                %a{href: "#"} Separated link
      .panel-body
        - @conference.participants.each do |participant|
          = link_to participant.name, participant_path(participant)
          %br
        = link_to "See all", participants_path(conference_id: @conference.id)
      .panel-footer
        = "#{pluralize(@conference.participants.count, "participant")}"
  #settings.tab-pane.fade
    /%h4 Settings
    %br
    Settings