.panel.panel-default
  .panel-heading
    = "Registrations"
    .pull-right
      .btn-group
        %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          Actions
          %span.caret
        %ul.dropdown-menu.pull-right{role: "menu"}
          %li
            %a{href: new_delegation_path(conference_id: conference.id)} Show all registrations
          %li
            %a{href: "#"} Another action
          %li
            %a{href: "#"} Something else here
          %li.divider
          %li
            %a{href: "#"} Separated link
  .panel-body
    - conference.registrations.each do |registration|
      = link_to registration.name, registration_path(registration)
      %br
    = link_to "See all", registration_path(conference_id: conference.id)
  .panel-footer
    = "#{pluralize(conference.registrations.count, "registration")}"