.panel.panel-default
  .panel-heading
    = "Single Registrations"
    .pull-right
      .btn-group
        %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          Actions
          %span.caret
        %ul.dropdown-menu.pull-right{role: "menu"}
          %li
            %a{href: new_delegation_path(conference_id: conference.id)} Show all registrations
          %li
            %a{href: "#"} Another action
          %li
            %a{href: "#"} Something else here
          %li.divider
          %li
            %a{href: "#"} Separated link
  .panel-body
    - conference.registrations.open.each do |registration|
      = link_to registration.name, registration_path(registration)
      %br
    = link_to "Show all", participants_path(conference_id: conference.id)
  .panel-footer
    = "#{pluralize(conference.registrations.count, "registration")}"
    - if conference.registrations.accepted.any?
      =", "
      = "#{conference.registrations.accepted.count} accepted"
    - if conference.registrations.open.any?
      =", "
      = "#{conference.registrations.open-count} open"
    - if conference.registrations.withdrawn.any?
      =", "
      = "#{conference.registrations.withdrawn.count} withdrawn"
    - if conference.registrations.rejected.any?
      =", "
      = "#{conference.registrations.rejected.count} rejected"