.row
  = simple_form_for @event do |f|
    = f.hidden_field :timetable_id, value: params[:timetable_id] || @timetable.id
    = f.input :name
    = f.input :description
    .col-md-2
      = f.input :starts_at
    .col-md-2
      = f.input :ends_at

    = f.button :submit