.row
  .col-lg-12
    %h1.page-header
      = @comittee.conference.name
      = @comittee.name
      .btn-group
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          %i.fa.fa-gear.fa-fw
          %span.caret
        %ul.dropdown-menu.pull-right{role: "menu"}
          %li
            %a{href: edit_comittee_path(@comittee)}
              Edit
              = @comittee.name
          %li
            %a{href: "#"} Another action
          %li
            %a{href: "#"} Something else here
          %li.divider
          %li
            %a{href: "#"} Separated link

.row
  - if @comittee.description

    .col-lg-4
      .panel.panel-default
        .panel-heading
          Description
        .panel-body
          = @comittee.description
  - if @comittee.topics
    .col-lg-4
      .panel.panel-default
        .panel-heading
          Topics
        .panel-body
          - @comittee.topics.each do |topic|
            = link_to "#{topic.name}", topic_path(topic)
            %br
          = link_to "+ Add topic", new_topic_path(comittee_id: @comittee.id)



  .col-lg-4
    .panel.panel-default
      .panel-heading
        = "Delegates"
        .pull-right
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              Actions
              %span.caret
            %ul.dropdown-menu.pull-right{role: "menu"}
              %li
                %a{href: new_delegate_path(comittee_id: @comittee.id)} Add delegate
              %li
                %a{href: "#"} Another action
              %li
                %a{href: "#"} Something else here
              %li.divider
              %li
                %a{href: "#"} Separated link
      .panel-body
        - @comittee.delegates.each do |delegate|
          = link_to "#{delegate.title}", delegate_path(delegate)
          %br

      .panel-footer
        = "#{pluralize(@comittee.delegates.count, "delegate")}"