.row
  .col-lg-12
    %h1.page-header
      = @participant_group.name


  .col-lg-4
    .panel.panel-default
      .panel-heading
        = "Members"
        .pull-right
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              Actions
              %span.caret
            %ul.dropdown-menu.pull-right{role: "menu"}
              %li
                %a{href: invite_participant_group_path(@participant_group.id)} Invite member
              %li
                %a{href: "#"} Another action
              %li
                %a{href: "#"} Something else here
              %li.divider
              %li
                %a{href: "#"} Separated link
      .panel-body
        - @participant_group.participant_group_members.each do |member|
          = link_to member.name, user_path(member.user)
          %br

      .panel-footer
        = "#{pluralize(@participant_group.participant_group_members.count, "member")}"

  .col-lg-4
    .panel.panel-default
      .panel-heading
        = "Registrations"
        .pull-right
          .btn-group
            %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              Actions
              %span.caret
            %ul.dropdown-menu.pull-right{role: "menu"}
              %li
                %a{href: conferences_path} Register
              %li
                %a{href: "#"} Another action
              %li
                %a{href: "#"} Something else here
              %li.divider
              %li
                %a{href: "#"} Separated link
      .panel-body
        - @participant_group.group_registrations.each do |registration|
          = link_to registration.name, group_registration_path(registration)
          %br

      .panel-footer
        = "#{pluralize(@participant_group.group_registrations.count, "registration")}"