<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <% if !current_user.nil? %>
      <!--<li class="sidebar-search">
        <!--<div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                  <i class="fa fa-search"></i>
                                </button>
                            </span>
        </div>
        <!-- /input-group -->
      <!--</li> -->
      <li>
        <a href="<%= root_path %>"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
      </li>
      <li >
        <a href="<%= conferences_path %>" id="step-side-navigation-conferences"><i class="fa fa-bar-chart-o fa-fw"></i> Conferences<!--<span class="fa arrow"></span>--></a>
        <ul class="nav nav-second-level">
          <% current_user.conferences.distinct.each do |conference|%>
            <li>
              <%= link_to conference.name, conference_path(id: conference.id) %>
            </li>
           <% end %>
          <li>
            <%= link_to "+ New conference", new_conference_path%>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>

      <li >
        <a href="#" id="step-side-navigation-delegations"><i class="fa fa-table fa-fw"></i> Delegations</a>
        <ul class="nav nav-second-level">
          <% current_user.delegations.distinct.each do |delegation|%>
              <li>
                <%= link_to delegation.name, delegation_path(id: delegation.id) %>
              </li>
          <% end %>

        </ul>
        <!-- /.nav-second-level -->
      </li>
      <li >
        <a href="#" id="step-side-navigation-groups"><i class="fa fa-wrench fa-fw"></i> Groups<!--<span class="fa arrow"></span>--></a>
        <ul class="nav nav-second-level">
          <% current_user.participant_groups.distinct.each do |participant_group|%>
              <li>
                <%= link_to participant_group.name, participant_group_path(id: participant_group.id) %>
              </li>
          <% end %>
          <li>
            <%= link_to "+ New participant group", new_participant_group_path%>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>

      <li>
        <a href="#" id="step-side-navigation-resolutions"><i class="fa fa-files-o fa-fw"></i> Collaborate<!--<span class="fa arrow"></span>--></a>
        <ul class="nav nav-second-level">
          <li>
            <%= link_to "Resolutions", resolutions_path%>
          </li>
          <li>
            <%= link_to "Position paper", position_papers_path%>
          </li>
        </ul>
        <!-- /.nav-second-level -->
      </li>

      <!--
      <li>
        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li>
            <a href="#">Second Level Item</a>
          </li>
          <li>
            <a href="#">Second Level Item</a>
          </li>
          <li>
            <a href="#">Third Level <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
              <li>
                <a href="#">Third Level Item</a>
              </li>
              <li>
                <a href="#">Third Level Item</a>
              </li>
              <li>
                <a href="#">Third Level Item</a>
              </li>
              <li>
                <a href="#">Third Level Item</a>
              </li>
            </ul>
            <!-- /.nav-third-level -->
      <!--</li>
    </ul>   -->
      <!-- /.nav-second-level -->
      <!--</li>  -->
        <% end %>
    </ul>
    <!-- /#side-menu -->
  </div>
  <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->