<!DOCTYPE html>
<html>
<head>
  <title>Model United Nations</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<% if false %>
    <%= render partial: "layouts/landing" %>
<% else %>

    <body>

    <div id="wrapper">




      <%= render partial: "layouts/navigation" %>
      <%= render partial: "layouts/side_navigation" %>
      <div id="page-wrapper">
        <% if notice %>
            <div class="row"><p class="notice alert alert-danger"><%= notice %></p></div>
        <% end %>
        <% if alert %>
            <div class="row"><p class="alert alert alert-warning"><%= alert %></p></div>
        <% end %>

        <%- flash.each do |name, message| %>
            <% if name == "alert" %>
              <p><i class="alert alert-danger"><%= "#{name}: #{message}" %></i></p>
            <% else %>
                <p><i class="alert alert-warning"><%= "#{name}: #{message}" %></i></p>
            <% end %>

        <% end %>
        <%= yield %>
      </div>
      <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <%= javascript_tag  "jquery.metisMenu.js" %>
    <%= javascript_tag  "raphael-2.1.0.min.js" %>
    <%= javascript_tag  "morris.js" %>
    <%= javascript_tag  "sb-admin.js" %>
    <%= javascript_tag  "dashboard-demo.js" %>

    </body>
<% end %>
</html>
