<!DOCTYPE html>
<html>
<head>
  <title>Model United Nations</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <% if user_signed_in? %>
      <%= stylesheet_link_tag "sb-admin" %>
  <% else %>
      <%= stylesheet_link_tag "landing" %>
  <% end %>


  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<% if !user_signed_in?%>
    <%= render partial: "layouts/landing" %>
<% else %>

    <body>

    <div id="wrapper">




      <%= render partial: "layouts/navigation" %>
      <%= render partial: "layouts/side_navigation" %>
      <div id="page-wrapper">
        <% if notice %>
            <div class="row"><p class="notice alert alert-danger"><%= notice %></p></div>
        <% end %>
        <% if alert %>
            <div class="row"><p class="alert alert alert-warning"><%= alert %></p></div>
        <% end %>

        <%- flash.each do |name, message| %>
            <% if name == "alert" %>
              <p><i class="alert alert-danger"><%= "#{name}: #{message}" %></i></p>
            <% else %>
                <p><i class="alert alert-warning"><%= "#{name}: #{message}" %></i></p>
            <% end %>

        <% end %>
        <%= yield %>
      </div>
      <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    </body>

    <script>
        var intro = introJs();
        intro.setOptions({
            steps: [

                {
                    element: '#step-side-navigation-conferences',
                    intro: "Welcome to Model United Nations. <br><br> Here you can see all conferences you manage or attend.",
                    position: 'right'
                },
                {
                    element: '#step-side-navigation-delegations',
                    intro: "And these are all your delegations.",
                    position: 'right'
                },
                {
                    element: '#step-side-navigation-groups',
                    intro: 'Those are the groups you register with at conferences.',
                    position: 'right'
                },
                {
                    element: '#step-side-navigation-resolutions',
                    intro: "And here you can work on all your resolutions as well as position papers.",
                    position: 'right'
                },
                {
                    element: '#step-navigation-messages',
                    intro: 'Up here you can connect with people.',
                    position: 'left'
                },
                {
                    element: '#step-navigation-tasks',
                    intro: 'These are the tasks you should complete.',
                    position: 'left'
                },
                {
                    element: '#step-navigation-notifications',
                    intro: 'Those notifications will keep you up to date.',
                    position: 'left'
                },
                {
                    element: '#step-navigation-user',
                    intro: 'And here you can manage yourself.',
                    position: 'left'
                },
            ]
        });

        intro.start();
    </script>
<% end %>
</html>
